body{
    margin: 0px;
    background-image: url('/Img/Fonds/accueil.png');
    background-repeat : no-repeat;
    background-size: cover;
    background-position: fixed;
    background-position:center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 150px;

}

.paragrapheaccueil{
    width: 400px;
    background-color: #bcbcbcb1;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
    font-family: 'Asap Condensed', sans-serif;
    word-spacing: 4px;
    text-align: justify;
    font-size: 25px;
    line-height: 30px;
}

#corse{
    margin-top: -110px;
    padding-right: 60px;
}