body{
    margin: 0px;
    background-image: url('/Img/Fonds/accueil.png');
    background-repeat : no-repeat;
    background-size: cover;
    background-position: fixed;
    background-position:center;
}

.imagefromage{
    width: 350px;
    height: 150px;
    object-fit: cover;
}

.mois{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    margin-top: 10px;
}

.pikachu{
    text-align: center;
    line-height: 8px;
    margin: 30px;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
}