.text-center{
    text-align: center;
}

.items-center{
    margin-left:auto;
    margin-right:auto;
}

.bg-grey{
    background-color: #2c2929;
}

.border-spacing{
  border-spacing: 0px;
}

.centrer {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
}

.text-justify {
  max-width: 500px;
  margin: 0 auto;
  text-align: justify;
}

table{
  border: 2px solid black;
}

th, td{
  border: 1px solid #dddddd;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hide{
    color: black;
    text-decoration:none;
}

li {
  display: block;
}

#cadre {
    border-radius: 5px;
  }

.encadrer-un-contenu{
  background-color:rgba(86, 83, 83, 0.45);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 10px;
  border-radius: 10px;
  height: fit-content; width:fit-content
}

body{
  margin:0cm;
  width : auto;
  padding-top : auto;
  /* Calcul du padding 
   H = 150 * width / L = 100
  */
  background-image  : url(Photos/Fonds/Poster-Foto-Tapete-Vlies-020.jpg);
  background-repeat : no-repeat;
  background-size: cover;
  background-position: fixed;
  background-position:center;
  height: 1000px;
}

.formulaire{
  background-color:rgb(17, 17, 17);
  color:rgb(255, 255, 255);
  border: none
 }

 .p1{
  color: rgb(255, 255, 255);
}

header {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

#logo
{
position: absolute;
margin-left: center;
margin-right: center;
position: center;
height :150px;
width: 150px;
}

