body{
    margin: 0px;
    background-image: url(/Img/fromage-coulant.jpg);
    background-repeat : no-repeat;
    background-size: cover;
    background-position: fixed;
    background-position:center;
}

.erreur{
    color: rgb(18, 14, 14);
    font-size: 400px;

}

main{
    height: 800px; 
}