.text-center{
    text-align: center;
    margin-bottom: 20px;
}

.items-center{
    margin-left:auto;
    margin-right:auto;
}

.bg-grey{
    background-color: #dddddd;
}

.border-spacing{
  border-spacing: 0px;
}

.centrer {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
}

.left {
  max-width: 700px;
  margin: 0px;
  text-align: justify;
}

table{
  border: 2px solid black;
}

th, td{
  border: 1px solid #dddddd;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hide{
    color: black;
    text-decoration:none;
}

li {
  display: block;
}

.encadrer-un-contenu{
  background-color:rgba(255, 255, 255, 0.7);
  padding: 15px;
  margin-top: 85px;
  border-radius: 5px;
  width: 400px;
  height: 540px;
}

body {
  background-image : url(../Img/Fonds/tendre-bleu.jpg);
  background-repeat : no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  }

  .text-justify {
    max-width: 500px;
    margin: 0 auto;
    text-align: justify;
  }

  .info{
    display: flex;
    align-items: center;
  }
  
  .bg-black{
    background-color: #ffffff;
}

  .navbar{
    background-color:#049af19c;
    margin-bottom:0px;
    border-radius:0;
    /* font-weight:bold; */
    height: 200px;
    font-size: 17px;
  }

  /* COULEUR FLECHES EN NOIR */
  .carousel-control-next,
.carousel-control-prev, 
.carousel-indicators/*, .carousel-indicators */ {
    filter: invert(100%);
}