.para1{
    text-align: center;
}

.Next{
    float: right;
}
.items-center{
    text-align: center;
}

body{
    background-image : url(Img\Fonds\Quiz.jpg);
    background-repeat : no-repeat;
    background-size: cover;
    background-position: fixed;
    background-position: center;
    height: 550px;
    }